h1{
    color:crimson;
    background-color: lightpink;
    border: 20px solid rgb(241, 7, 124);
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}
div{
    color: darkmagenta;
    background-color: lightpink;
    border: 20px solid hotpink;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}
#third{
    color:orange;
    background-color:bisque;
    border: 20px solid orangered;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}